{% extends 'base.html' %}

{% block title %} Adicionar Objetivo {%endblock%}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'swot:home' %}">Home</a></li>
        <li><a href="{% url 'swot:elementos' fator.elemento.planejamento.id %}">Elementos</a></li>
        <li><a href="{% url 'swot:fatores' fator.elemento.id %}">Fatores</a></li>
        <li>Ações</li>
      </ol>
      <h2>{{objetivo.fator}}</h2>

    </div>
  </section><!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Nova Ação</h2>
      <p>Descrição bonita para nova Ação.</p>
    </div>

    <div class="row">
      <div class="d-flex align-items-stretch">
        <form method="POST" class="php-email-form">
            {% csrf_token %}
            <div class="form-group col-md-12">
              <label for="descricao">Descricao</label>
              <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="10" required></textarea>
              <!-- <input type="text" name="descricao" class="form-control" id="descricao"> -->
            </div>
          <div class="novo-fator">
            <button type="submit">Criar Ação</button>
          </div>
        </form>
      </div>

      <!-- <div class="col-lg-4 mt-5 mt-lg-0 d-flex align-items-stretch">
        <img class="novo-planejamento" src="static/assets/img/novo_planejamento.jpg" alt="">
      </div> -->

    </div> <!--fim do row-->

  </div>
</section><!-- End Contact Section -->

{%endblock%}