{% extends 'base.html' %}

{% block title %} Adicionar Objetivo {%endblock%}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'swot:home' %}">Home</a></li>
        <li><a href="{% url 'swot:elementos' fator.elemento.planejamento.id %}">Elementos</a></li>
        <li><a href="{% url 'swot:fatores' fator.elemento.id %}">Fatores</a></li>
        <li>Ações</li>
      </ol>
      <h2>{{objetivo.fator}}</h2>

    </div>
  </section><!-- End Breadcrumbs -->

<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {{form.errors}}
            <input type="submit" class="button" value="Cadastrar">
        </form>
    </div>
</div>

{%endblock%}