{% extends 'base.html' %}

{% block title %} Adicionar Planejamento {%endblock%}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="{% url 'swot:home' %}">Home</a></li>
      <li>Novo Planejamento</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Novo Planejamento</h2>
      <p>Aqui você deve informar o título do planejamento e uma descrição sobre seu propósito/finalidade.</p>
    </div>

    <div class="row">
      <div class="d-flex align-items-stretch">
        <form method="POST" class="php-email-form">
            {% csrf_token %}
            <div class="form-group col-md-12">
              <label for="titulo">Titulo</label>
              <input type="text" name="titulo" class="form-control" id="titulo" required>
            </div>
            <div class="form-group col-md-12">
              <label for="descricao">Descricao</label>
              <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="10" required></textarea>
              <!-- <input type="text" name="descricao" class="form-control" id="descricao"> -->
            </div>
            <div class="form-group col-md-12">
              <label for="prazo">Data final</label>
              <input type="date" class="form-control" name="prazo" id="prazo" required>
            </div>
          <div class="novo-planejamento">
            <button type="submit">Criar Planejamento</button>
          </div>
        </form>
      </div>

      <!-- <div class="col-lg-4 mt-5 mt-lg-0 d-flex align-items-stretch">
        <img class="novo-planejamento" src="static/assets/img/novo_planejamento.jpg" alt="">
      </div> -->

    </div> <!--fim do row-->

  </div>
</section><!-- End Contact Section -->


{% endblock %}