{% extends 'base.html' %}

{% block title %} Objetivos {%endblock%}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'swot:home' %}">Home</a></li>
        <li><a href="{% url 'swot:elementos' objetivo.fator.elemento.planejamento.id %}">Elementos</a></li>
        <li><a href="{% url 'swot:fatores' objetivo.fator.elemento.id %}">Fatores</a></li>
        <li>Ações</li>
      </ol>
      <h2>{{objetivo.fator}}</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <p>
        {% if request.user == objetivo.criador.usuario or request.user == objetivo.fator.elemento.planejamento.lider.usuario %}
          <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    {{form.errors}}
                    <input type="submit" class="btn btn-success" value="Salvar">
                </form>
            </div>
          </div>
        {% else %}
          {{objetivo}} <br><br>

          Objetivo criado por <a href="#">{{objetivo.criador.nome}}</a>
        {%endif%}

      </p>
    </div>
  </section>

  <!-- ======= Comentarios Section ======= -->
<section id="comentarios" class="comentarios">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Comentários ({{coment.count}})</h2>
    </div>

    <div class="row">
      <div class="col-lg-0 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form  method="post" action="{% url 'swot:comentarioObjetivo' objetivo.id %}" role="form" class="php-email-form">
          {%csrf_token%}
          <div class="row">
          <div class="form-group">
            <label for="name">Faça um comentário:</label>
            <textarea class="form-control" name="message" rows="3" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Comentar</button></div>
        </form>
      </div>

    </div><!--Fim do row-->

  </div>
</section><!-- End Comentários Section -->


<section id="todos-coments" class="todos-coments section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-10">
        {% for comentario in coment %}
          <div class="member d-flex align-items-start">
            <div class="pic">
              {% if comentario.membro.avatar %}
                <img src="/media/{{comentario.membro.avatar}}" class="img-fluid" alt="">
              {% else %}
                <img src="/static/assets/img/team/user.png" class="img-fluid" alt="">
              {% endif %}
            </div>
            <div class="member-info">
              <h4>{{comentario.membro.nome}}</h4>
              <span>{{comentario.horario}}</span>
              <p>{{comentario.comentario}}</p>
              <div class="social">
                <a href="#">like</a>
                <a href="#">deslike</a>
              </div>
            </div>
          </div>
          {% empty %}
            Sem comentários.
          {%endfor%}
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

  



{%endblock%}