{% extends 'base.html' %}

{% block title %} Objetivos {%endblock%}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'swot:home' %}">Home</a></li>
        <li><a href="{% url 'swot:elementos' objetivo.fator.elemento.planejamento.id %}">Elementos</a></li>
        <li><a href="{% url 'swot:fatores' objetivo.fator.elemento.id %}">Fatores</a></li>
        <li>Ações</li>
      </ol>
      <h2>{{objetivo.fator}}</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <p>
        {% if request.user == objetivo.criador.usuario or request.user == objetivo.fator.elemento.planejamento.lider.usuario %}
          <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    {{form.errors}}
                    <input type="submit" class="btn btn-success" value="Salvar">
                </form>
            </div>
          </div>
        {% else %}
          {{objetivo}} <br><br>

          Objetivo criado por <a href="#">{{objetivo.criador.nome}}</a>
        {%endif%}

      </p>
    </div>
  </section>

  



{%endblock%}